<manifest package="com.acoustiguide.Exhibition"
          android:versionCode="0"
          android:versionName="0"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
            android:minSdkVersion="19"
            android:targetSdkVersion="26" />

    <application
            android:name="com.acoustiguide.ECApplication"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
                android:name="com.acoustiguide.ECActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
